{% extends "base.html" %}
{% block content %}
  <h2 class="page-header">Reconfiguring Cluster</h2>

  <form action="" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <p>
        The cluster is being reconfigured from <b>mirror mode</b>  to <b>delta-syncrepl</b>mode topology.
        Delta-syncrepl configuration needs only one provider. <br>
        Select the server that should be used as the <b>provider</b> in the new configuration.
        The other one will be removed from the cluster manager.
      </p>

      {% for server in servers %}
      <div class="radio">
        <label>
          <input type="radio" name="server" value={{ server.id }}> {{ server.hostname }} ({{ server.ip }})
        </label>
      </div>
      {% endfor %}


      <button type="submit" class="btn btn-primary">Set as Provider</button>
  </form>

{% endblock %}
