{% extends "base.html" %}
{% block content %}

  <h2 class="page-header">Dashboard</h2>
  <div class="row">
      <!-- topology info box -->
      <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <h1><i class="glyphicon glyphicon-globe"></i></h1>
                      </div>
                      <div class="col-xs-9 text-right">
                          <h3>Topology <br> <small>{{ conf.topology }}</small></h3>
                      </div>
                  </div>
              </div>
              <a class="text-muted" data-toggle="modal" data-target="#topology_modal">
                  <div class="panel-body">
                      <span class="pull-left">Change</span>
                      <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
      </div>
      <!-- provider info box -->
      <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <h1><i class="glyphicon glyphicon-hdd"></i></h1>
                      </div>
                      <div class="col-xs-9 text-right">
                          <h3>{{ data.provider }} <br> <small>Provider</small></h3>
                      </div>
                  </div>
              </div>
              <a href="{{ url_for('setup_cluster', topology=conf.topology) }}" class="text-info">
                  <div class="panel-body">
                      <span class="pull-left">Add Provider</span>
                      <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
      </div>
      <!-- consumer info box -->
      <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel panel-warning">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <h1><i class="glyphicon glyphicon-import"></i></h1>
                      </div>
                      <div class="col-xs-9 text-right">
                          <h3>{{ data.consumer }} <br> <small>Consumer</small></h3>
                      </div>
                  </div>
              </div>
              <a href="{{ url_for('new_server', stype='consumer') }}" class="text-warning">
                  <div class="panel-body">
                      <span class="pull-left">Add Consumer</span>
                      <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
      </div>
      <!-- Replication test info box -->
      <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel {% if conf.last_test %}panel-success{% else %}panel-danger{% endif %}">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          {% if data.last_test %}
                          <h1><i class="glyphicon glyphicon-ok"></i></h1>
                          {% else %}
                          <h1><i class="glyphicon glyphicon-remove"></i></h1>
                          {% endif %}
                      </div>
                      <div class="col-xs-9 text-right">
                          <h3>Replication <small>{% if conf.last_test %} Working {% elif conf.last_test == false %} Failed {% else %} Untested {% endif %}</small></h3>
                      </div>
                  </div>
              </div>
              <a href="{{ url_for('test_replication') }}" class="{% if data.last_test %}text-success{% else %}text-danger{% endif %}">
                  <div class="panel-body">
                      <span class="pull-left">Run Test</span>
                      <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
      </div>

  </div>

  <table id="servers" class="table table-bordered">
    <thead>
      <tr>
        <th>Server ID</th>
        <th>Hostname</th>
        <th>Port</th>
        <th>Role</th>
        <th>Protocol</th>
        <th>Replication ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for server in servers %}
      <tr>
        <td>{{ server.id }}</td>
        <td>{{ server.hostname }}</td>
        <td>{{ server.port }}</td>
        <td>{{ server.role }}</td>
        <td>{{ server.protocol }}</td>
        <td>{% if server.provider_id %}{{ server.provider_id }}{% else %} NA {% endif%}</td>
        <td>
            {% if not server.setup %}
                <a class="btn btn-primary btn-xs" href="{{ url_for('setup_ldap_server', server_id=server.id, step=3) }}">Retry Setup</a>
            {% elif server.role == "provider" and server.setup and not server.initialized %}
                <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Initialize <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('initialize', server_id=server.id)}}">Using Existing Data</a></li>
                        <li><a href="{{ url_for('ldif_upload', server_id=server.id)}}">Using Exported LDIF</a></li>
                    </ul>
                </div>
            {% elif server.role == "provider" and server.initialized %}
                <a class="btn btn-success btn-xs" href="{{ url_for('initialize', server_id=server.id) }}">Reinitialize</a>
                <a class="btn btn-primary btn-xs" href="{{ url_for('new_server', stype='consumer') }}">Add Consumer</a>
            {% endif %}
            <a class="btn btn-danger btn-xs" href="{{ url_for('remove_server', server_id=server.id) }}">Remove</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
{% block modals %}
    <!-- Modal that contains the change topology options -->
    <div id="topology_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change Topology</h4>
                </div>
                <div class="modal-body">
                    <p>The cluster is presently configured in
                        {% if conf.topology == 'delta' %}<b>delta-syncrepl</b>
                        {% elif conf.topology == 'mirror' %}<b>mirror</b>{% endif %} mode. What should it be reconfigured to?</p>
                    <div class="btn-group btn-group-justified" role="group" aria-label="topologies">
                        <a class="btn btn-default" href="{{ url_for('change_topology', target='delta')}}">Delta Syncrepl</a>
                        <a class="btn btn-default" href="{{ url_for('change_topology', target='mirror')}}">Mirror Mode</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block js %}
{% endblock %}
