{% extends "base.html" %}
{% block content %}

  {% if servers|length %}

  <h2 class="page-header">Servers</h2>
  <table id="servers" class="table table-bordered">
    <thead>
      <tr>
        <th>Server ID</th>
        <th>Hostname</th>
        <th>Port</th>
        <th>Role</th>
        <th>StartTLS</th>
        <th>Replication ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for server in servers %}
      <tr>
        <td>{{ server.id }}</td>
        <td>{{ server.hostname }}</td>
        <td>{{ server.port }}</td>
        <td>{{ server.role }}</td>
        <td>{% if server.starttls %}<i class="glyphicon glyphicon-ok text-success"></i>{% else %}<i class="glyphicon glyphicon-remove text-danger"></i>{% endif %}</td>
        <td>{% if server.provider_id %}{{ server.provider_id }}{% else %} NA {% endif%}</td>
        <td>
            {% if server.role == "provider" and not server.initialized %}
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Initialize <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('initialize', server_id=server.id)}}">Using Existing Data</a></li>
                        <li><a href="{{ url_for('ldif_upload', server_id=server.id)}}">Using Exported LDIF</a></li>
                    </ul>
                </div>
            {% elif server.role == "provider" and server.initialized %}
                <a class="btn btn-success btn-xs" href="{{ url_for('initialize', server_id=server.id) }}">Reinitialize</a>
                <a class="btn btn-primary btn-xs" href="{{ url_for('new_consumer') }}">Add Consumer</a>
            {% endif %}
            <a class="btn btn-danger btn-xs" href="{{ url_for('remove_server', server_id=server.id) }}">Remove</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Test Replication</h2>
  <a class="btn btn-info" href="{{ url_for('test_replication') }}">Start Test</a>

  {% else %}

  {# Introduction page starts here #}
    <h2 class="page-header">Replication Manager</h2>
    <p>Gluu Replication Manager lets an admin to create, test and maintain a server cluster using OpenLDAP replication. The currently supported topologies for clustering are:</p>
    <ul>
        <li>Delta-Syncrepl</li>
        <li>Mirror Mode</li>
    </ul>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Delta-Syncrepl</h3>
                </div>
                <div class="panel-body">
                    <img class="center-block" src="{{ url_for('static', filename='images/Delta-Syncrepl.png')}}" alt="Delta Syncrepl Topology">
                    <hr>
                    <p>Key Features:</p>
                    <ul>
                        <li>1 Provider</li>
                        <li>Multiple Consumers</li>
                    </ul>
                    <a class="btn btn-info btn-block" href="{{ url_for('setup_cluster', topology='delta') }}">Setup</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Mirror Mode</h3>
                </div>
                <div class="panel-body">
                    <img src="{{ url_for('static', filename='images/MirrorMode.png')}}" alt="Delta Syncrepl Topology">
                    <hr>
                    <p>Key Features:</p>
                    <ul>
                        <li>2 Providers</li>
                        <li>Multiple Consumers under each provider</li>
                    </ul>
                    <a class="btn btn-warning btn-block" href="{{ url_for('setup_cluster', topology='mirrormode') }}">Setup</a>
                </div>
            </div>
        </div>
    </div>


  {% endif %}
{% endblock %}
