{% extends "base.html" %}
{% block  content %}
{% if server %}
    <h2>Initializing server  {{ server.hostname }}</h2>
{% else %}
    <h2>Full replication test</h2>
{% endif %}
<ul id="logger" class="list-group">
</ul>
<a href="/" id="goback" class="btn btn-primary" style="display: none">Go back Home</a>
{% endblock %}

{% block js %}
<script>
function logitem(message, state){
    var item = document.createElement('li');
    item.setAttribute('class', 'list-group-item');
    var icon = document.createElement('i');
    if ( state == 'success' ){
        icon.setAttribute('class', 'glyphicon glyphicon-ok pull-right');
        item.setAttribute('class', 'list-group-item text-success');
    } else if ( state == 'error' ) {
        icon.setAttribute('class', 'glyphicon glyphicon-warning-sign pull-right')
        item.setAttribute('class', 'list-group-item text-danger');
    } else if ( state == 'info' ){
        icon.setAttribute('class', 'glyphicon glyphicon-tasks')
        item.setAttribute('class', 'list-group-item list-group-item-info');
    }
    item.appendChild(icon);
    var msgtext = document.createTextNode(" "+message);
    item.appendChild(msgtext);
    return item;
}

var task_id = "{{ task.id }}";
var timer;

function updateLog(){
    $.get('{{ url_for("get_log", task_id=task.id) }}', function(data){
        var logs = data.messages;
        var logged_msgs = $('.list-group-item').length;
        for(var i=logged_msgs; i<logs.length; i++){
            $('#logger').append(logitem(logs[i].msg, logs[i].level));
        }
        if(data.state == "SUCCESS" || data.state == "FAILED"){
            clearInterval(timer);
            $('#goback').show('slow');
        }
    });
}

timer = setInterval(updateLog, 1000);
</script>
{% endblock %}
