{% extends "base.html" %}
{% from 'macros.html' import render_radio_field, render_field %}
{% block content %}
<h2 class="page-header">oxAuth Key Rotation</h2>
<form action="{{ url_for('index.key_rotation') }}" method="POST">
    {{ form.csrf_token }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Key Rotation</h3>
        </div>
        <div class="panel-body">
            <div class="form-group {{ 'has-error' if form.interval.errors else '' }}">
                {{ form.interval.label(class="control-label") }}
                <div class="input-group">
                    {{ form.interval(class="form-control") }}
                    <span class="input-group-addon">days</span>
                </div>
                {% for error in form.interval.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group {{ 'has-error' if form.type.errors else '' }}">
                {{ form.type.label(class="control-label") }}
                <div class="input-group">
                    {{ render_radio_field(form.type) }}
                </div>
                {% for error in form.type.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="panel panel-default hidden" id="oxeleven-panel">
        <div class="panel-heading">
            <h3 class="panel-title">oxEleven Server</h3>
        </div>
        <div class="panel-body">
            {{ render_field(form.oxeleven_url, help="Base URL of oxEleven app.") }}
            {{ render_field(form.oxeleven_token, help="Auth token required for accessing oxEleven API.") }}
        </div>
    </div>

    <div class="panel panel-default hidden" id="oxauth-panel">
        <div class="panel-heading">
            <h3 class="panel-title">oxAuth Servers</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label" for="">
                    <label for="">oxAuth Server Hostname</label>
                </label>
                <input id="add-oxauth-hostname" type="text" name="hostname" class="form-control">
            </div>
            <div class="form-group">
                {{ form.gluu_server.label(class="control-label") }}
                <div class="input-group">
                    {{ form.gluu_server(class="form-control") }}
                </div>
            </div>
            <div class="form-group">
                {{ form.gluu_version.label(class="control-label") }}
                <div class="input-group">
                    {{ form.gluu_version(class="form-control") }}
                </div>
            </div>
            <a href="javascript:void(0)" class="btn btn-info" id="add-oxauth">Add oxAuth server</a>

            <div class="form-group" id="oxauth-servers-container">
                {% if oxauth_servers %}
                <p>Available oxAuth servers</p>
                <div class="input-group">
                    <table class="table table-bordered" id="oxauth-servers">
                        <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>Gluu Server?</th>
                                <th>Version</th>
                                <th>Remove?</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for oxauth in oxauth_servers %}
                            <tr id="oxauth-server-{{ oxauth.id }}">
                                <td>{{ oxauth.hostname }}</td>
                                <td>{{ oxauth.gluu_server }}</td>
                                <td>{{ oxauth.get_version }}</td>
                                <td>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" data="{{ oxauth.id }}">
                                    </label>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="javascript:void(0)" class="btn btn-danger" id="remove-oxauth">Remove selected</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">LDAP Integration</h3>
        </div>
        <div class="panel-body">
            {{ render_field(form.inum_appliance, help="Inum appliance for searching the LDAP entry") }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Rotate Key</button>
</form>
{% endblock %}

{% block js%}
    <script src="{{ url_for('static', filename='js/key-rotation.js') }}"></script>
{% endblock %}
