{% extends "base.html" %}
{% block content %}
<h2 class="page-header">{{ heading }} </h2>
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span class="sr-only">Running task</span>
  </div>
</div>

<ul id="logger" class="list-group">
</ul>

<button id="retry" class="btn btn-block btn-danger" style="display: none;">Retry</button>
{% if nextpage == 'provider' %}
    <a id="home" class="btn btn-block btn-success" style="display: none;" href="{{ url_for('new_server', stype='provider') }}">Add Mirror</a>
{% else %}
    <a id="home" class="btn btn-block btn-success" style="display: none;" href="{{ url_for('home') }}">Go to Dashboard</a>
{% endif %}

{% endblock content %}
{% block js %}
<script>
var task_id = "{{ task.id }}";
var timer;
var errors = 0;

function logitem(message, state){
    var item = document.createElement('li');
    item.setAttribute('class', 'list-group-item');
    var icon = document.createElement('i');
    if ( state == 'success' ){
        icon.setAttribute('class', 'glyphicon glyphicon-ok-sign pull-right');
        item.setAttribute('class', 'list-group-item text-success');
    } else if ( state == 'error' || state == 'fail' ) {
        icon.setAttribute('class', 'glyphicon glyphicon-remove-sign pull-right')
        item.setAttribute('class', 'list-group-item text-danger');
    } else if ( state == 'info' ){
        icon.setAttribute('style', 'padding-right: 5px')
        icon.setAttribute('class', 'glyphicon glyphicon-tasks')
        item.setAttribute('class', 'list-group-item list-group-item-info');
    } else if ( state == 'warning' ){
        icon.setAttribute('style', 'padding-right: 5px')
        icon.setAttribute('class', 'glyphicon glyphicon-warning-sign')
        item.setAttribute('class', 'list-group-item list-group-item-warning');
    } else if ( state == 'debug' ){
        item = document.createElement('pre')
        item.setAttribute('class', 'list-group-item');
    }
    item.appendChild(icon);
    var msgtext = document.createTextNode(message);
    item.appendChild(msgtext);
    return item;
}

function updateLog(){
    $.get('{{ url_for("get_log", task_id=task.id) }}', function(data){
        var logs = data.messages;
        var logged_msgs = $('.list-group-item').length;
        for(var i=logged_msgs; i<logs.length; i++){
            var entry = logitem(logs[i].msg, logs[i].level);
            $('#logger').append(entry);
            entry.scrollIntoView(false);
            if(logs[i].level == 'error' || logs[i].level == 'fail'){
                errors++;
            }
        }
        if(data.state == "SUCCESS" || data.state == "FAILURE"){
            clearInterval(timer);
            $('.progress').hide();
            if (errors){
                var err_msg = "Errors were found. Fix them in the server and refresh this page to try again.";
                var entry = logitem(err_msg, 'warning');
                $('#logger').append(entry);
                entry.scrollIntoView(false);
                $('#retry').show().scrollIntoView(false);
            } else {
                $('#home').show().scrollIntoView(false);
            }
        }
    });
}

$('#retry').click(function(){
    window.location.reload(true);
});

timer = setInterval(updateLog, 1000);

</script>
{% endblock js %}
 
