{% extends "base.html" %}
{% block content %}
<h2 class="page-header">oxAuth Server Logs</h2>
{% if err %}
<p class="alert alert-warning">{{ err }}</p>
{% else %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Details</th>
            <th>Logger Name</th>
            <th>Level</th>
            <th>Message</th>
            <th>Exceptions</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs.get_logs() %}
        <tr>
            <td><a href="{{ url_for('server_log_item', id=log.id) }}">View</a></td>
            <td>{{ log.loggerName }}</td>
            <td>{{ log.level}}</td>
            <td>{{ log.formattedMessage }}</td>
            <td>{{ "Yes" if log.exceptions else "No" }}</td>
            <td>{{ log.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<ul class="pagination">
    <li class="page-item {{ 'disabled' if not logs.has_prev }}"><a class="page-link" href="{{ '#' if not logs.has_prev else '?page=' + logs.prev_page|string }}">Newer</a></li>
    <li class="page-item {{ 'disabled' if not logs.has_next }}"><a class="page-link" href="{{ '#' if not logs.has_next else '?page=' + logs.next_page|string }}">Older</a></li>
</ul>
{% endif %}
{% endblock %}
