{% extends "base.html" %}
{% block content %}
    {% if step == 3 %}
        <h2 class="page-header">Running Checks</h2>
    {% elif step == 4 %}
        <h2 class="page-header">Setting up OpenLDAP server </h2>
    {% endif %}
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    <span class="sr-only">Running Checks</span>
  </div>
</div>

<ul id="logger" class="list-group">
</ul>

<button id="retry" class="btn btn-block btn-danger" style="display: none;">Retry</button>
    {% if step == 3 %}
        <a id="setup" class="btn btn-block btn-success" style="display: none;" href="{{ url_for('setup_provider', server_id=server.id, step=4) }}">Setup Server</a>
    {% elif step == 4 %}
        <a id="setup" class="btn btn-block btn-success" style="display: none;" href="{{ url_for('home') }}">Go to Dashboard</a>
    {% endif %}

{% endblock content %}
{% block js %}
<script>

var task_id = "{{ task.id }}";
var timer;
var errors = 0;

function logitem(message, state){
    var item = document.createElement('li');
    item.setAttribute('class', 'list-group-item');
    var icon = document.createElement('i');
    if ( state == 'success' ){
        icon.setAttribute('class', 'glyphicon glyphicon-ok-sign pull-right');
        item.setAttribute('class', 'list-group-item text-success');
    } else if ( state == 'error' || state == 'fail' ) {
        icon.setAttribute('class', 'glyphicon glyphicon-remove-sign pull-right')
        item.setAttribute('class', 'list-group-item text-danger');
    } else if ( state == 'info' ){
        icon.setAttribute('style', 'padding-right: 5px')
        icon.setAttribute('class', 'glyphicon glyphicon-tasks')
        item.setAttribute('class', 'list-group-item list-group-item-info');
    } else if ( state == 'warning' ){
        icon.setAttribute('style', 'padding-right: 5px')
        icon.setAttribute('class', 'glyphicon glyphicon-warning-sign')
        item.setAttribute('class', 'list-group-item list-group-item-warning');
    } else if ( state == 'debug' ){
        item = document.createElement('pre')
        item.setAttribute('class', 'list-group-item');
    }
    item.appendChild(icon);
    var msgtext = document.createTextNode(message);
    item.appendChild(msgtext);
    return item;
}

function updateLog(){
    $.get('{{ url_for("get_log", task_id=task.id) }}', function(data){
        var logs = data.messages;
        var logged_msgs = $('.list-group-item').length;
        for(var i=logged_msgs; i<logs.length; i++){
            $('#logger').append(logitem(logs[i].msg, logs[i].level));
            if(logs[i].level == 'error' || logs[i].level == 'fail'){
                errors++;
            }
        }
        if(data.state == "SUCCESS" || data.state == "FAILED"){
            clearInterval(timer);
            $('.progress').hide();
            if (errors){
                var err_msg = "Errors were found when checking the server for requirements. Fix them in the server and refresh this page to try again.";
                $('#logger').append(logitem(err_msg, 'warning'));
                $('#retry').show();
            } else {
                $('#setup').show();
            }
        }
    });
}

$('#retry').click(function(){
    window.location.reload(true);
});

timer = setInterval(updateLog, 1000);

</script>
{% endblock js %}
 
