{% extends "base.html" %}
{% block content %}
    <h2 class="page-header">oxAuth Server Log</h2>
    {% if err %}
    <p class="alert alert-warning">{{ err }}</p>
    {% else %}
    <table class="table table-bordered">
        <tr>
            <td><strong>ID</strong></td>
            <td>{{ log.id }}</td>
        </tr>
        <tr>
            <td><strong>Timestamp</strong></td>
            <td>{{ log.timestamp }}</td>
        </tr>
        <tr>
            <td><strong>Message</strong></td>
            <td>{{ log.formattedMessage }}</td>
        </tr>
        <tr>
            <td><strong>Logger Name</strong></td>
            <td>{{ log.loggerName }}</td>
        </tr>
        <tr>
            <td><strong>Exceptions</strong></td>
            <td>{{ log.exceptions|join("\n") }}</td>
        </tr>
    </table>
    {% endif %}
{% endblock %}
