{% extends "base.html" %}
{% block content %}
    <h2 class="page-header">oxAuth Audit Log</h2>
    {% if err %}
    <p class="alert alert-warning">{{ err }}</p>
    {% else %}
    <table class="table table-bordered">
        <tr>
            <td><strong>ID</strong></td>
            <td>{{ log.id }}</td>
        </tr>
        <tr>
            <td><strong>Timestamp</strong></td>
            <td>{{ log.timestamp }}</td>
        </tr>
        <tr>
            <td><strong>IP Address</strong></td>
            <td>{{ log.ip }}</td>
        </tr>
        <tr>
            <td><strong>Client ID</strong><td>
            <td>{{ log.clientId }}</td>
        </tr>
        <tr>
            <td><strong>Username</strong></td>
            <td>{{ log.username }}</td>
        </tr>
        <tr>
            <td><strong>Scope</strong></td>
            <td>{{ log.scope }}</td>
        </tr>
        <tr>
            <td><strong>Success</strong></td>
            <td>{{ log.success }}</td>
        </tr>
        <tr>
            <td><strong>Action</strong></td>
            <td>{{ log.action }}</td>
        </tr>
    </table>
    {% endif %}
{% endblock %}
