{% extends "base.html" %}
{% block content %}
  <h1 class="page-header">Servers</h1>
  <table id="servers" class="table table-bordered">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Hostname</th>
        <th>Port</th>
        <th>Role</th>
        <th>StartTLS</th>
        <th>Server ID</th>
        <th>Replication ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for server in servers %}
      <tr>
        <td>{{ server.id }}</td>
        <td>{{ server.hostname }}</td>
        <td>{{ server.port }}</td>
        <td>{{ server.role }}</td>
        <td>{% if server.starttls %}<i class="glyphicon glyphicon-ok text-success"></i>{% else %}<i class="glyphicon glyphicon-remove text-danger"></i>{% endif %}</td>
        <td>{{ server.server_id }}</td>
        <td>{{ server.replication_id }}</td>
        <td>
            <a class="btn btn-success btn-xs" href="{{ url_for('initialize', server_id=server.id) }}">Initialize</a>
            {% if server.role == "provider" and not server.initialized %}
            {% else %}
                NA
            {% endif %}

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
