{% extends "base.html" %}
{% block content %}
  {% if servers|length %}
  <h1 class="page-header">Servers</h1>
  <table id="servers" class="table table-bordered">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Hostname</th>
        <th>Port</th>
        <th>Role</th>
        <th>StartTLS</th>
        <th>Server ID</th>
        <th>Replication ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for server in servers %}
      <tr>
        <td>{{ server.id }}</td>
        <td>{{ server.hostname }}</td>
        <td>{{ server.port }}</td>
        <td>{{ server.role }}</td>
        <td>{% if server.starttls %}<i class="glyphicon glyphicon-ok text-success"></i>{% else %}<i class="glyphicon glyphicon-remove text-danger"></i>{% endif %}</td>
        <td>{{ server.server_id }}</td>
        <td>{{ server.replication_id }}</td>
        <td>
            {% if server.role == "provider" and not server.initialized %}
                <a class="btn btn-success btn-xs" href="{{ url_for('initialize', server_id=server.id) }}">Initialize</a>
            {% elif server.role == "provider" and server.initialized %}
                <a class="btn btn-success btn-xs" href="{{ url_for('initialize', server_id=server.id) }}">Test Connection</a>
            {% endif %}

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Test Replication</h2>
  <a class="btn btn-info" href="{{ url_for('test_replication') }}">Start Test</a>
  {% else %}
    <div class="jumbotron">
        <h1>Let's begin</h1>
        <p>Hi, this is a GUI to manage OpenLDAP server replication using <strong>delta-syncrepl</strong>.
        The setup consists of <strong>Providers</strong> and <strong>Consumers</strong>. Start by setting up a provider first.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('new_provider') }}" role="button">Setup Provider</a></p>
    </div>
  {% endif %}
{% endblock %}
