{% extends "base.html" %}
{% block  content %}
<h2>Initializing server  {{ server.hostname }}</h2>
<div id="conn" class="panel panel-default">
  <div class="panel-heading">
    Connecting to the server {{ server.hostname }}:{{ server.port }} ...
    <span class="pull-right text-success" style="display: none"><i class="glyphicon glyphicon-ok"></i></span>
    <span class="pull-right text-danger" style="display: none"><i class="glyphicon glyphicon-remove"></i></span>
  </div>
  <div class="panel-body"></div>
</div>

<div id="add" class="panel panel-default">
    <div class="panel-heading">
    Adding the replication user to the server ...
    <span class="pull-right text-success" style="display: none"><i class="glyphicon glyphicon-ok"></i></span>
    <span class="pull-right text-danger" style="display: none"><i class="glyphicon glyphicon-remove"></i></span>
    </div>
    <div class="panel-body"></div>
</div>

<div id="recon" class="panel panel-default">
    <div class="panel-heading">
    Reconnecting and verifying authentication as the replication user ...
    <span class="pull-right text-success" style="display: none"><i class="glyphicon glyphicon-ok"></i></span>
    <span class="pull-right text-danger" style="display: none"><i class="glyphicon glyphicon-remove"></i></span>
    </div>
    <div class="panel-body"></div>
</div>

<a href="/" id="goback" class="btn btn-primary" style="display: none">Go back Home</a>
{% endblock %}

{% block js %}
<script>
var task_id = "{{ task.id }}";
var tid;
function updateLog(){
    $.get('{{ url_for("task_status", task_id=task.id) }}', function(data){
        var steps = ['conn', 'add', 'recon'];
        for(var i=0; i<steps.length; i++){
            var k = steps[i];
            if(data[k].status == 'success'){
                $('#'+k+' > .panel-heading > span.text-success').show();
                $('#'+k).removeClass('panel-default').addClass('panel-success');
                $('#'+k+' > .panel-body').text("SUCCESS");
            } else if (data[k].status == 'failed'){
                $('#'+k+' > .panel-heading > span.text-danger').show();
                $('#'+k+' > .panel-body').text(data[k].error);
                $('#'+k).removeClass('panel-default').addClass('panel-danger');
            }
            if(data.recon.status == 'failed' || data.recon.status == 'success'){
                clearInterval(tid);
                $('#goback').show('slow');
            }
        }
    });
}
tid = setInterval(updateLog, 1000);
</script>
{% endblock %}
