{% extends "base.html" %}
{% block  content %}
<h1>Replication Test</h1>
<table id="status" class="table table-striped">
</table>


<script>
var tid;
var task = '{{task.id}}';

function logEntry(data){
    var tr = document.createElement('tr');
    console.log(data);
    if (data.status == 'SUCCESS'){
        tr.className = 'success';
    } else if(data.status == 'FAILED'){
        tr.className = 'danger';
    } else if(data.status == 'NOSTATUS'){
        tr.className = 'info';
    }

    var td1 = document.createElement('td');
    td1.appendChild(document.createTextNode(data.action));
    if (data.status == 'FAILED'){
        var p = document.createElement('p');
        p.appendChild(document.createTextNode(data.message));
        td1.appendChild(p);
    }
    tr.appendChild(td1);
    var td2 = document.createElement('td');
    var icon = document.createElement('i')
    if (data.status == 'SUCCESS'){
        icon.className = 'glyphicon glyphicon-ok text-success';
    } else if (data.status == 'FAILED') {
        icon.className = 'glyphicon glyphicon-remove text-danger';
    } else if (data.status == 'NOSTATUS'){
        icon.className = 'glyphicon text-info';
    }
    td2.appendChild(icon);
    tr.appendChild(td2);
    return tr;
}

function updateStatus(){
    $.get('{{ url_for("test_status", task_id=task.id) }}', function(data){
        var rows = $('#status').find('tr').length;
        for(var i=rows; i < data.length; i++){
            $('#status').append(logEntry(data[i]));
        }
        if(rows > 0 && data[data.length-1].action == 'Test Complete.'){
            clearInterval(tid);
        }
    });
}

tid = setInterval(updateStatus, 1000);
</script>

{% endblock %}
